
// COLOURS 
$color-primary: #7DA4AD;
$color-primary-light: rgb(144, 197, 209);
$color-primary-dark: #25373b;
$color-primary-very-dark: #192629;

$color-error: rgb(196, 72, 72);

$color-white: #fff;
$color-black: #000;

$color-grey-dark: rgb(71, 71, 71);
$color-grey: rgb(138, 138, 138);
$color-grey-light: #efefef;

// FONT SIZE
$font-default: 1.9rem;